.bg-space{
    background-image: url(../images/space1.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.bg-cars{
    background-image: url(../images/car1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    background-color: #554a49;
}

.bg-trucks{
    background-image: url(../images/truck.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    background-color: #554a49;
}

.bg-food{
    background-image: url(../images/vegetables.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.dropdown{
    margin-top: 24px;
    margin-bottom: 24px;
}

.image-container{
    padding-left: 120px;
    padding-right: 120px;
}

.image-container img{
    height: 200px;
    object-fit: cover;
    margin: 12px;
    background-color: lime;
    border: lime;
    cursor: pointer;
}

.current-image-container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
}

.current-image-container img{
    max-width: 950px;
    max-height: 550px;
    background-color: lime;
    border: lime;
}

/* #currentImage{
    position: relative;
} */

.right-arrow{
    width: 45px;
    position: absolute;
    right: 85px;
    top: 45%;
    border-radius: 100%;
    margin-right: 12px;
    cursor: pointer;
}

.left-arrow{
    width: 45px;
    position: absolute;
    left: 85px;
    top: 45%;
    border-radius: 100%;
    margin-left: 12px;
    cursor: pointer;

}

.cross{
    width: 45px;
    border-radius: 100%;
    position: absolute;
    right: 85px;
    top: 85px;
    cursor: pointer;
}



